## For Flights dataset with the following query tempalte:
SELECT unique_carrier, AF(dep_delay) 

FROM flights 

WHERE distance BETWEEN 300 AND 1000 

GROUP BY unique_carrier

In [8]:
from etrimlclient.executor.executor import SqlExecutor

## Parameter Initialization

In [9]:
sqlExecutor = SqlExecutor()
sqlExecutor.execute("set n_mdn_layer_node_reg=10")          # 
sqlExecutor.execute("set n_mdn_layer_node_density=15")      # 
sqlExecutor.execute("set n_jobs=1")                         # 
sqlExecutor.execute("set n_hidden_layer=1")                 # 
sqlExecutor.execute("set n_epoch=20")                       # 
sqlExecutor.execute("set n_gaussians_reg=8")                # 
sqlExecutor.execute("set n_gaussians_density=10")           # 
sqlExecutor.execute("set csv_split_char=','")
sqlExecutor.execute("set table_header=" +
                      "'year_date,unique_carrier,origin,origin_state_abr,dest,dest_state_abr,dep_delay,taxi_out,taxi_in,arr_delay,air_time,distance'")

Local mode is on, as no slaves are provided.
start loading pre-existing models.
Loaded 3 models. time cost  0.278602 s
OK, n_mdn_layer_node_reg is updated.
OK, n_mdn_layer_node_density is updated.
OK, n_jobs is updated.
OK, n_hidden_layer is updated.
OK, n_epoch is updated.
OK, n_gaussians_reg is updated.
OK, n_gaussians_density is updated.
OK, csv_split_char is updated.
OK, table_header is updated.

## Model Creation

In [10]:
# sqlExecutor.execute("drop table template4")  # drop the model
sqlExecutor.execute("create table template4(dep_delay real, distance real) from '/home/quincy/Documents/workspace/data/flights/flight_1m.csv' GROUP BY unique_carrier method uniform size 0.001 ")

Start creating model template4
The given table is treated as a uniform sample, and it is obtained with sampling rate 0.001
Reading data file...
get frequency info from data....
Starting training kde models for model template4
training regression...
********************************************************************************
finish training embedding.
embedding inference...
start normalizing data...
transform data from MDN training...
finish transforming data from MDN training...
< Epoch 0
< Epoch 1
< Epoch 2
< Epoch 3
< Epoch 4
< Epoch 5
< Epoch 6
< Epoch 7
< Epoch 8
< Epoch 9
< Epoch 10
< Epoch 11
< Epoch 12
< Epoch 13
< Epoch 14
< Epoch 15
< Epoch 16
< Epoch 17
< Epoch 18
< Epoch 19
Finish regression training.
training density...
********************************************************************************
finish training embedding.
< Epoch 0
< Epoch 1
< Epoch 2
< Epoch 3
< Epoch 4
< Epoch 5
< Epoch 6
< Epoch 7
< Epoch 8
< Epoch 9
< Epoch 10
< Epoch 11
< Epoch 12
< Epoch 13
< Epoch 14
< Epoch 15
< Epoch 16
< Epoch 17
< Epoch 18
< Epoch 19
finish mdn training...
time cost: 394s.
------------------------

## Query Serving

In [17]:
predictions = sqlExecutor.execute(
            "select unique_carrier, avg(dep_delay)   from template4 where   300  <=distance<= 1000  group by unique_carrier"
        )

# sqlExecutor.execute("drop table template4")

OK
     0           1
    9E 1205.845101
    AA 1206.112032
    AQ 1206.688233
    AS 1206.239917
    B6 1206.199499
    CO 1205.918254
    DH 1205.657872
    DL 1206.124379
    EV 1206.244838
    F9 1206.321264
    FL 1206.191810
    HA 1205.709171
    HP 1206.013984
    MQ 1206.278784
    NK 1206.657725
    NW 1206.207652
OH (1) 1206.136098
    OO 1206.138138
    TW 1206.051687
    TZ 1206.210427
    UA 1205.969376
    US 1206.158301
    VX 1206.126230
    WN 1206.008183
    XE 1206.122352
    YV 1206.087589
Time cost: 0.0311s.
------------------------

## HIVE query
SELECT unique_carrier, count(dep_delay),sum(dep_delay),avg(dep_delay) FROM flights WHERE distance BETWEEN 300 AND 1000 GROUP BY unique_carrier

Time Cost: 526s

ive> SELECT unique_carrier, count(dep_delay),sum(dep_delay),avg(dep_delay) FROM flights WHERE distance BETWEEN 300 AND 1000 GROUP BY unique_carrier;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = hduser_20210310230241_d06fd634-3f0a-4c9f-bf0a-7edc9683e332
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 224
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1586257888433_0313, Tracking URL = http://master:8088/proxy/application_1586257888433_0313/
Kill Command = /opt/hadoop292/bin/hadoop job  -kill job_1586257888433_0313
Hadoop job information for Stage-1: number of mappers: 214; number of reducers: 224
2021-03-10 23:02:58,185 Stage-1 map = 0%,  reduce = 0%
2021-03-10 23:11:21,584 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 9215.06 sec
MapReduce Total cumulative CPU time: 0 days 2 hours 33 minutes 35 seconds 60 msec
Ended Job = job_1586257888433_0313
MapReduce Jobs Launched: 
Stage-Stage-1: Map: 214  Reduce: 224   Cumulative CPU: 9215.06 sec   HDFS Read: 57224110481 HDFS Write: 23700 SUCCESS
Total MapReduce CPU Time Spent: 0 days 2 hours 33 minutes 35 seconds 60 msec
OK
DH                                                                                                  	2780045	3.3521729005000005E9	1205.7980717938021
DL                                                                                                  	66158555	7.977157753419968E10	1205.7636013090018
EV                                                                                                  	23359774	2.8166522714000103E10	1205.7703432404826
F9                                                                                                  	4148301	5.001822181599999E9	1205.7519889709063
TW                                                                                                  	7490867	9.032207794999996E9	1205.7626700620897
MQ                                                                                                  	27040048	3.2604201550000095E10	1205.7745441132388
FL                                                                                                  	10065513	1.2136674662999985E10	1205.7681176309627
TZ                                                                                                  	841920	1.0151719666000001E9	1205.7819823736224
UA                                                                                                  	49981659	6.0266318096900154E10	1205.7686619985975
NK                                                                                                  	1041439	1.2556978687000005E9	1205.7334790611842
US                                                                                                  	43741312	5.274203057190024E10	1205.771572921732
NW                                                                                                  	28835768	3.476894079920019E10	1205.7574051504432
9E                                                                                                  	5351635	6.4527552205E9	1205.753983689097
HA                                                                                                  	3487399	4.2048615805999985E9	1205.7299955066794
AA                                                                                                  	58179360	7.015117033949983E10	1205.7741841694344
OO                                                                                                  	31563895	3.8058524752600136E10	1205.7613533627625
VX                                                                                                  	1235718	1.490022111E9	1205.7946157618485
HP                                                                                                  	8908687	1.0741680412399992E10	1205.753486725933
AQ                                                                                                  	624736	7.533131446999999E8	1205.8103658185216
AS                                                                                                  	13641626	1.6448745966999987E10	1205.776053895627
B6                                                                                                  	10837050	1.3066798603099977E10	1205.7523590921862
WN                                                                                                  	91575849	1.1041907340099872E11	1205.7663085493066
XE                                                                                                  	13820996	1.6664937143999992E10	1205.7696235495614
CO                                                                                                  	23082243	2.7831922182700073E10	1205.771994632414
OH (1)                                                                                              	6936390	8.363572286699993E9	1205.7528897164077
YV                                                                                                  	6749486	8.138256159699995E9	1205.7593955598982
Time taken: 526.732 seconds, Fetched: 26 row(s)
hive>